{% extends 'base.html.twig' %}

{% block body %}
    <h1>Album creation</h1>

    {{ form_start(form) }}
        <form action="{{ path('album_new') }}" method="POST" name="formmail">

                    {{form_label(form.titre, 'titre')}}
                    {{form_widget(form.titre, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.titre)}}

                    {{form_label(form.artiste, 'artiste')}}
                    {{form_widget(form.artiste, {'attr':{'class':'form-control'}}) }}
                    {{form_errors(form.artiste)}}

        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('album_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
